* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    @media screen and(max-width: 600px) {
        overflow-x: hidden;
    }
}

html {
    font-size: 62.5%;
}

body {
    height: 100%;
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(180deg, rgba(252, 250, 231, 1) 0%, rgba(252, 231, 166, 1) 100%);
}

/* ----------------- */
/*     NAWIGACJA     */
/* ----------------- */
nav {
    font-size: 2rem;
    text-transform: uppercase;
}


.navbar-toggler {
    font-size: 3rem;
}

.navbar-brand {
    font-size: 2.4rem;
    font-weight: bold;
    text-transform: none;
}



/* --------------------- */
/* Header------------------ */


.hero-shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: -1;
}

/* ----------- */

header .container {
    position: relative;
    height: 400px;
    background-image: url('../img/złobek-header1.jpg.png');
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.jumbotron {
    height: 100%;
    max-width: 1140px;
}

.menu {
    height: 700px;
}

.menu-box a {
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-box:hover {
    background-image: linear-gradient(160deg, rgba(0, 110, 255, .25) 0%, rgba(9, 255, 0, 0.25) 100%);
}

.menu-box i {
    font-size: 4rem;
    padding-bottom: 1rem;
}

.panel-right {
    background-image: linear-gradient(180deg, rgba(55, 64, 76, 1) 0%, rgba(21, 26, 32, 1) 100%);
}

.hero-box {
    font-size: 1.4rem;
    color: #010606;
    transition: 0.3s;
}

.hero-box:hover {
    background-color: #fff;
    border-radius: 50px;
}

.hero-box i {
    font-size: 3rem;
    color: #3545D8;
}

.hero-box i.fa-clock {
    color: rgb(209, 209, 21);
}

.hero-box i.fa-graduation-cap {
    color: rgb(173, 44, 120);
}

.hero-box i.fa-book {
    color: rgb(116, 116, 187);
}

.person {
    max-height: 100px;
    max-width: 100px;

}

.person img {
    object-fit: cover;
    -o-object-fit: cover;
}

/* ----------------- */
/*     Servicess     */
/* ----------------- */

header .carousel .carousel-inner .carousel-img-two {
    background-image: url('../img/złobek-header3.jpg.png');
    object-fit: contain;
    z-index: 0;
}



/* ----------------- */
/*     gallery     */
/* ----------------- */
.gallery {
    min-height: 100%;
    position: relative;
}




/* ----------------- */
/*     CONTACT     */
/* ----------------- */

.contact-hero {
    background-image: url('../img/contact/shelby-contact.jpg');
    background-position: 0 40%;
}

.contact h2,
.contact h3 {
    text-transform: uppercase;
    font-weight: bold;
}

.contact h2 {
    font-size: 2.6rem;
}

.contact-logo {
    font-size: 3rem;
}

.contact input,
.contact select,
.contact textarea {
    font-size: 1.6rem;
}

.contact .btn {
    padding: 0.3em .8em;
    font-size: 2rem;
}

.contact-map iframe {
    width: 100%;
    min-height: 400px;
}

/* ----------------- */
/*     FOOTER     */
/* ----------------- */
footer {
    font-size: 1.6rem;
}


@media (min-width:992px) {
    a.nav-link {
        font-size: 1.6rem;
    }

    .display-1 {
        font-size: 4rem;
    }

    .aboutus-info .container {
        padding: 0;
    }

    .aboutus-shadow {
        box-shadow: inset 0 5px 10px -5px rgba(0, 0, 0, .4);
    }

    .aboutus-text {
        padding: 5em 0;
    }

    .aboutus-text-left {
        padding-right: 2em;
        text-align: right;
    }

    .aboutus-text-right {
        padding-left: 2em;
        text-align: left;
    }

    .aboutus-img {
        height: auto;


    }


}





@media (min-width:1400px) {
    .carousel-item {
        height: 600px;
    }

    .carousel-img-one {
        background-image: url(../img/car-1081742_1920.jpg);
    }

    .carousel-img-two {
        background-image: url(../img/nurburgring-4122443_1920.jpg);
    }

    .carousel-img-three {
        background-image: url(../img/nissan-skyline-3546824_1920.jpg);
    }
}


@-webkit-keyframes block1 {
    0% {
        left: 40%;
        top: -200px;
    }

    30% {
        left: 40%;
        top: 0px;
    }


    70% {
        left: 210px;
        top: 0;
    }


    100% {
        left: 210px;
        top: 70px;
    }
}

@-webkit-keyframes block2 {
    0% {
        left: 30%;
        top: -200px;
    }

    20% {
        left: 30%;
        top: -70px;
    }

    40% {
        left: 150px;
        top: -70px;
    }


    100% {
        left: 150px;
        top: 130px;
    }
}


@-webkit-keyframes block3 {
    0% {
        left: 60px;
        top: -200px;
    }

    20% {
        left: 60px;
        top: -70px;
    }

    30% {
        left: 60px;
        top: -70px;
    }



    100% {
        left: 60px;
        top: 130px;
    }
}

@-webkit-keyframes block4 {
    0% {
        left: 30%;
        top: -200px;
    }

    20% {
        left: 30%;
        top: -70px;
    }

    40% {
        left: 0px;
        top: -70px;
    }


    100% {
        left: 0px;
        top: 130px;
    }
}

@-webkit-keyframes block5 {
    0% {
        left: 40%;
        top: -200px;
    }

    20% {
        left: 40%;
        top: -70px;
    }

    40% {
        left: 30px;
        top: -70px;
    }


    100% {
        left: 30px;
        top: 40px;
    }
}

@-webkit-keyframes block6 {
    0% {
        left: 30%;
        top: -200px;
    }

    20% {
        left: 30%;
        top: -70px;
    }

    40% {
        left: 150px;
        top: -70px;
    }


    100% {
        left: 150px;
        top: 40px;
    }
}

@-webkit-keyframes block7 {
    0% {
        left: 60px;
        top: -200px;
    }

    20% {
        left: 60px;
        top: -70px;
    }

    30% {
        left: 90px;
        top: -70px;
    }



    100% {
        left: 90px;
        top: 70px;
    }
}

.tetris {
    overflow: hidden;
    position: relative;
    display: block;
    width: 240px;
    height: 200px;
    margin: 64px auto 30px 45px;
}


.block1 {
    position: absolute;
}

.block1-body {
    background-color: rgb(209, 209, 21);
}

.block {
    height: 30px;
    width: 30px;
}



.block2-container {
    position: absolute;
    width: 60px;
    height: 60px;
}

.block2-body {
    display: flex;
    flex-wrap: wrap;
}


.block2 {
    width: 30px;
    height: 30px;
    background-color: rgb(173, 44, 120);
}



.block3-container {
    position: absolute;
    width: 90px;
    height: 60px;
}

.block3-body {
    display: flex;
    flex-wrap: wrap;
}

.block3 {
    width: 30px;
    height: 30px;
    background-color: rgb(27, 27, 199);
}

.block4-container {
    position: absolute;
    width: 60px;
    height: 60px;
}

.block4-body {
    display: flex;
    flex-wrap: wrap;
}

.block4 {
    width: 30px;
    height: 30px;
    background-color: rgb(116, 116, 187);
}

.block5 {
    height: 30px;
    width: 30px;

}

.block5-container {
    position: absolute;
}

.block5-body {
    background-color: rgb(173, 44, 120);
}

.block6-container {
    position: absolute;
    width: 60px;
    height: 90px;
}

.block6-body {
    display: flex;
    flex-wrap: wrap;
}

.block6 {
    width: 30px;
    height: 30px;
    background-color: rgb(116, 116, 187);
}

.block7-container {
    position: absolute;
    width: 60px;
    height: 90px;
}

.block7-body {
    display: flex;
    flex-wrap: wrap;
}

.block7 {
    width: 30px;
    height: 30px;
    background-color: rgb(209, 209, 21);
}

.block7-top-part {
    display: flex;
    flex-direction: column;
}








/* .block1,
.block2,
.block3,
.block4 {
    position: absolute;
    width: 30px;
    height: 30px;
    box-shadow: inset 0 0 0 4px rgba(0, 0, 0, .1);
} */

.tetris .circle {
    position: relative;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.739);
    border-radius: 50%;
}


/* .block1:before,
.block2-container:before,
.block3:before,
.block4:before {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 2px;
    height: 3px;
    background: rgba(255, 255, 255, .5);
} */

.block1 {
    left: 40%;
    top: -200px;
    -webkit-animation: block1 .5s forwards 1s;
}

.block2-container {
    left: 30%;
    top: -200px;
    -webkit-animation: block2 .5s forwards 1.5s;
}

.block3-container {
    left: 20%;
    top: -200px;
    -webkit-animation: block3 .5s forwards 2s;
}

.block4-container {
    left: 30%;
    top: -200px;
    -webkit-animation: block4 .5s forwards 2.5s;
}

.block5-container {
    left: 40%;
    top: -200px;
    -webkit-animation: block5 .5s forwards 3s;
}

.block6-container {
    left: 40%;
    top: -200px;
    -webkit-animation: block6 .5s forwards 3.5s;
}

.block7-container {
    left: 40%;
    top: -200px;
    -webkit-animation: block7 .5s forwards 4s;
}